
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho > h1 {
    background: #FFFF00;
    width: 477px;
    height: 304px;
    text-align: center;
    float: left;
}

.cabecalho nav {
    float: right;
}

.cabecalho nav ul li {
    display: inline;
    list-style: none;
    padding: 108px;
    background-color: #FFFF00;
    text-align: center;
}

#conteudo {
    clear: left;
}