
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho > h1 {
    background: #FFFF00;
    width: 477px;
    height: 304px;
    text-align: center;
    float: left;
    padding: 110px 10px 0 10px;
    font-size: 80px;
    font-style: bold;
}

.cabecalho nav {
    float: right;
}

.cabecalho nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 10px;
}

.cabecalho nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 40px;
    font-style: bold;
    background-color: #D3D300;
    width: 260px;
    height: 260px;
    text-align: center;
    display: inline-block;
    padding: 110px 10px 0 10px;
}

#conteudo {
    clear: left;
}