*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:1440px;
    height:1024px;
    max-width:100%;
}

.box-pai{
    border: 2px solid #ff0000;
    display: flex;
    flex-direction: row;
}

.box-filha{
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 3.2%;
}

.box-1{
    background-color:aqua;
    flex-grow: 1;
}

.box-2{
    background-color:blue;
    flex-grow: 1;
}

.box-3{
    background-color:palevioletred;
    flex-grow: 1;
}

.box-4{
    background-color:blueviolet ;
    flex-grow: 1;
}