*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho >h1 {
    background-color: rgba(255, 0, 0, 0.3);
    width: 300px;
    height: 200px;
    text-align: center;
    float: left;
    padding: 68px 10px 0px 10px;
    font-size: 50px;
}

.cabecalho nav{
    float: right;
    
    
}
.cabecalho nav ul li{
    display: inline-block;/*tirar de bloco e colocar em linha*/
    list-style: none; /*tirar bolinhas da lista*/
    padding: 0 10px;
}

.cabecalho nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-style: bold;
    background-color:rgba(255, 0, 0, 0.3) ;
    width: 233px;
    height: 200px;
    text-align: center;
    display: inline-block;/*msm sendo inline se comporta em bloco*/
    padding: 70px 10px 0px 10px;
}


#conteudo{
    clear: left;
    
}