*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1440px;
    max-width: 100%;
}
.cabecalho{
    flex-direction: row;
    display: flex; 
}
.cabecalho>h1{
    background-color: #c9c9c9;
    padding: 7% 4% 7% 4%;
}
nav>ul>li>a{
    color: #000;
    text-decoration: initial;
}
nav>ul{
    display: flex;
    align-items: center;
    height: 100%;
}
li{
    list-style: none;
    height: 100%;
    background-color: #c9c9c9;
    margin: 10%;
    display: flex;
    padding: 7% 4% 7% 4%;
    align-items: center;
}
