
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho > h1{
    background-color: #D7CF21;
    width: 467px;
    height: 300px;
    text-align: center;
    float: left;
}

.cabecalho nav{
    float: right;
}

.cabecalho nav ul li{
    display: inline;
    list-style: none;
    padding: 108px;
    background-color: #D7CF21;
    text-align: center;
}

#conteudo{
    clear: left;
}