/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho>h1 {
    background-color: #d9d9d9;
    width: 300px;
    height: 200px;
    text-align: center;
    float: left;
    padding: 70px 10px 0 10px;
    font-size: 50px;

}

.cabecalho nav {
    float: right;
}

.cabecalho nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 10px;

}

.cabecalho nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 40px;
    font-style: bold;
    background-color:#d9d9d9;
    width: 223px;
    height: 200px;
    text-align: center;
    display: inline-block;
    padding: 70px 10px 0 10px;
} 



#conteudo {
    clear: left;
}*/


/*    Iniciando FLEXBOX */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 90px;
}

body{
    max-width: 100%;
}

nav{
    margin: 15px;
    
}

nav .cabecalho_link{
    height: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cabecalho{
    display: flex;
    background-color: aquamarine;
    width: 100%;
    height: 14vh;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.cabecalho_logo{
    color: blue;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    height: 20px;

}

.cabecalho_link{ 
    padding: 20px;
    display: flex;
    justify-content: space-between;

}




.cabecalho nav ul li{

    display: inline-block;
    height:100px;
    width: 100px;
    text-align: center;
    padding-right: 80px;

}

.cabecalho nav ul li a{

    display:inline-block;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
    height: 10px;
    width: 10px;
    font-size: 15px;
    color: blue;
    text-decoration: none;
    list-style-type: none;
}


