*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
     
.cabecalho>h1{
     background-color: aquamarine;
     /* position: absolute; */
     width: 300px;
     height: 200px;
     text-align: center;
     float: left;
     padding: 70px 10px 0 10px;
     font-size: 50px;
}

.cabecalho nav{
     float: right;
}
 
.cabecalho nav ul li{
     display: inline;
     list-style: none;
     padding: 0 10px;
}
     
.cabecalho nav ul li a{
     text-decoration: none;
     color: black;
     font-size: 40px;
     background-color: aquamarine;
     width: 223px;
     height: 200px;
     text-align: center;
     display: inline-block;
     padding: 70px 10px 0px 10px;
}

#conteudo{
     clear: left;
}