* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Para que o flexbox funcione é necessario determinar a largura e a altura da base onde o container foi criado */
body {
    width: 1440px;
    height: 1024px;
    max-width: 100%;
}

.box-pai {
    border: 2px solid #ff0000;
    display: flex;
    /*
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-arround;
    justify-content: space-evenly;
    align-items: center;
    */
    /*
    Deixando os itens exatamente no centro
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    */
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.box-filha {
    color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 3%;
}

.box-1 {
    background-color: blue;
    flex-grow: 1;
}

.box-2 {
    background-color: blueviolet;
    flex-grow: 3;
}

.box-3 {
    background-color: brown;
    flex-grow: 2;
}

.box-4 {
    background-color: chocolate;
    flex-grow: 1;
}