* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
.cabecalho > h1 {
    background-color: #d9d9d9;
    width: 300px;
    height: 200px;
    text-align: center;
    float: left;
    padding: 70px 10px 0 10px;
    font-size: 50px;
}

.cabecalho nav {
    float: right;
}

.cabecalho nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 10px;
}

.cabecalho nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 40px;
    font-style: bold;
    background-color: #d9d9d9;
    width: 223px;
    height: 200px;
    text-align: center;
    display: inline-block;
    padding: 70px 10px 0 10px;
}

#conteudo {
    clear: left;
}
*/

body {
    width: 1440px;
    height: 1024px;
    max-width: 100%;
}

.cabecalho {
    border: 2px solid #ff0000;
    display: flex;
    width: 100%;
    height: 100%; 
    flex-direction: row;
}

.cabecalho h1 > nav > ul {
    background-color: #ff0000;
}