*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho > h1 {
    background: #058ca4; 
    width: 300px;
    height: 100px;
    text-align: center;
    float: left;
    padding: 20px 10px 0 10px;
    font-size: 50px;
}


.cabecalho nav{
    float: right;
}

.cabecalho nav ul li {
    display: inline;
    list-style: none;
    padding: 108px;
    background-color: #058ca4;
    width: 223px;
    height: 299px;
    text-align: center;
}

#conteudo{
    clear: left;
}